#
# Novatek NT36xxx touchscreen driver configuration
#
config TOUCHSCREEN_NT36xxx
	bool "Novatek NT36xxx"
	default y
	help
	  Say Y here if you have a Novatek NT36xxx touchscreen connected
	  to your system.

	  If unsure, say N.

if TOUCHSCREEN_NT36xxx

config TOUCHSCREEN_NT36xxx_EXT_PROC
	bool "Novatek NT36xxx EXT PROC"
	help
	  Say Y here to disable NT36xxx EXT PROC

config TOUCHSCREEN_NT36xxx_MP
	bool "Novatek NT36xxx MP"
	help
	  Say Y here to disable NT36xxx MP

endif
